 <app-header *ngIf="!isCheckout" title="Select Category"></app-header>
 <app-header *ngIf="isCheckout" title="Checkout"></app-header>
 <ion-split-pane>
  
   <ion-menu contentId="main-content" side="start" style="width: 25%;">
    <ion-content>
        <app-sidenav  (categorySelected)="onCategorySelected($event)"></app-sidenav>
    </ion-content>
    </ion-menu>
 
   <ion-content id="main-content">
    <app-products *ngIf="!isCheckout" [selectedCategory]="selectedCategory" 
    
    (totalCountChange)="updateTotalCount($event)"></app-products>
    <ion-list *ngIf="isCheckout">
      <ion-item *ngFor="let item of cartItems">
        <ion-label>
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </ion-label>
        <ion-note slot="end">
          {{ item.count }} x ${{ item.price }} = ${{ item.count * item.price }}
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Total: ${{ totalPrice }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-split-pane>
 
<app-footer *ngIf="!isCheckout" [totalCount]="totalCount"></app-footer>
<ion-footer *ngIf="isCheckout">
  <ion-toolbar>
    <ion-button expand="block" (click)="makePayment()">Make Payment</ion-button>
  </ion-toolbar>
</ion-footer>
