
  <ion-list style="padding-top: 55px;">
    <ion-item (click)="selectCategory('burger')" button>
      <ion-label>Burger</ion-label>
      <ion-thumbnail slot="start">
        <img src="assets/images/burger.jpg" alt="Burger">
      </ion-thumbnail>
      
    </ion-item>
    <ion-item (click)="selectCategory('roll')" button>
      <ion-label>Roll</ion-label>
      <ion-thumbnail slot="start">
        <img src="assets/images/roll.jpg" alt="Roll">
      </ion-thumbnail>
     
    </ion-item>
    <!-- <ion-item (click)="selectCategory('chicken')" button>
      <ion-thumbnail slot="start">
        <img src="assets/images/chicken.jpg" alt="Chicken">
      </ion-thumbnail>
      <ion-label>Chicken</ion-label>
    </ion-item> -->
  </ion-list>

